body {
	background: white;
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
	font-size: 18px;
	max-width: 1080px;
}
textarea.editor {
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
}

/* death to color */
.postarea .bbc_color {
	color: #333 !important;
}

.postarea img.bbc_img {
	max-width: 300px !important;
	height: auto !important;
}

#main_menu, .dropmenu li {
	background-color: #dedede;
	font-weight: normal;
	/* font-size: 20px; */
}

img.avatar {
	width: 96px;
	height: auto;
}

blockquote.bbc_standard_quote, blockquote.bbc_alternate_quote {
	font-size: 16px;
}


#upper_section {
	display: none;
}

.smalltext {
	font-size: 12px !important;
}

.dropmenu li a.firstlevel,
.dropmenu li a.firstlevel:hover,
.dropmenu li:hover a.firstlevel {
	border: none;
}

.dropmenu li a {
	color: #444;
}

.dropmenu li a.active {
	color: #333;
}

.windowbg {
	background-color: #dedede;
}

.windowbg2 {
	background-color: #efefef;
}

/* Moderator */
.post_wrapper .poster.moderator {
	background-color: rgba(40, 148, 194, 0.6);
}
.post_wrapper.moderator .poster h4, .post_wrapper .poster h4 a {
	color: #333;
}

/* Thread starter */
.post_wrapper .poster.thread-starter {
	background-color: rgba(191, 62, 36, 0.6);
}
.post_wrapper.thread-starter .poster h4, .post_wrapper .poster h4 a {
	color: #333;
}

/* Both Moderator and Thread starter */
.post_wrapper .poster.moderator.thread-starter {
	background-color: white;
	background-image: linear-gradient(45deg,
	rgba(40, 148, 194, 0.6) 50%,
	rgba(192, 62, 36, 0.6) 50%);
}

/* keyboard navigation */
div.navigation-focus:focus {
	outline: none;
}
#forumposts .post_wrapper.navigation-focus {
	background-color: rgba(250, 250, 45, 0.2);
}
