body { font-family: "Helvetica Neue", "Helvetica", sans-serif; }
.i { font-weight: normal; }
p.p {
	font-weight: 300;
 	font-size: 24px;
	font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", sans-serif;
}
